.title {
  font-size: 1em;
  color: white;
}

.bar {
  width: 95%;
  height: 28px;
  background: #fff;
  border-radius: 5px;
  position: relative;
  transition: all 2s linear;
  margin-bottom: 1%;
}

.bar-container {
  margin-top: 5%;
  width: 95%;
}

.bar-inner {
  width: 0;
  height: 28px;
  line-height: 28px;
  border-radius: 5px 0 0 5px;
  background: #9d9ea1;
}

.bar-caption {
  position: absolute;
  right: 10px;
  top: 5px;
  font-size: 1em;
}