.left-column {
  display: flex;
  flex-direction: column;
  margin: 128px 0;
  width: 65%;
  justify-self: right;
}

.left-column h1 {
  font-size: 4em;
  margin: 0;
}

.left-column h4 {
  margin-top: 12px;
}
.right-column {
  margin: 128px 0;
  overflow-y: auto;
  width: 65%;
  justify-self: left;
  padding-right: 16px;
}

.right-column section {
  margin: 0 16px 32px 0;
}

.right-column::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  background-color: #f5f5f5;
}

.right-column::-webkit-scrollbar {
  width: 8px;
  border-radius: 10px;
  background-color: #f5f5f5;
}

.right-column::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #999999;
}

.icons-container {
  margin-top: 36px;
  display: flex;
  gap: 20px;
}

.icons-container button {
  all: unset;
}

.icons-container img {
  width: 32px;
  height: 32px;
  transition: width 0.3s ease, height 0.3s ease;
}

.icons-container button:hover {
  cursor: pointer;
}

.icons-container img:hover {
  width: 36px;
  height: 36px;
}

.icons-container a {
  all: unset;
}

.icon-background {
  background-color: rgb(131, 103, 103);
  border-radius: 50%;
}

.card-container {
  margin-bottom: 16px;
  display: grid;
  grid-template-columns: 25% 75%;
}

.card-container h4 {
  margin: 16px 0;
}

.card-container-link {
  margin: 16px 0;
}

.card-container button {
  all: unset;
  margin-left: 8px;
}

.card-container button:hover {
  cursor: pointer;
}

.chips-container {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
}

.chips-container li {
  all: unset;
  font-size: 14px;
  color: #171718;
  border-radius: 16px;
  margin: 0 2px 8px 2px;
  padding: 4px 12px;
  background-color: #1de9c7;
}

/* Apply styles for smaller screens */
@media (max-width: 1024px), (max-height: 730px) {
  .left-column {
    margin: 24px;
    justify-self: center;
  }
  .right-column {
    margin: 24px;
    justify-self: center;
  }
}
