.landing-page {
  width: 100%;
  height: 100%;
  background-image: url("../../images/landing_page.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.landing-page-text {
  display: flex;
  flex-direction: column;
  margin-top: 25%;
}

.landing-page-text h1,
.landing-page-text h2 {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  font-variation-settings: "wdth" 100;
  color: white;
  font-size: 5em;
}

.landing-page-text h2 {
  font-size: 2em;
}

/* Apply styles for smaller screens */
@media (max-width: 1024px), (max-height: 730px) {
  .landing-page-text {
    margin-top: 8px;
  }
}

@media (max-width: 750px) {
  .landing-page-text {
    margin-top: 8px;
  }
  .landing-page-text h1 {
    font-size: 64px;
  }
  .landing-page-text h2 {
    font-size: 16px;
  }
}
