.about-description-left {
  width: 50%;
  height: auto;
  word-wrap: break-word;
}

body, html {
	height: 100%;
	margin: 0;
	padding: 0;
}

.landing-page-container {
	width: 100%;
	height: 100%;
	background-image: url("../../images/landing_page.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.landing-page-container-display {
  position: absolute;
  width: 400px;
  height: 260px;
  border-radius: 4px;
  background-color: grey;
  opacity: 0.5;
  top: 110px;
  left: 160px;
}

#navbar-container {
	background-color: transparent;
	padding: 37px 60px 37px 95px;
	position: fixed;
	left: 0;
  right: 0;
  z-index: 100;
  transition: background-color 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
  box-shadow: none;
}

.navbar-container-items {
  color: white;
  transition: color 0.2s ease-in-out;
}

#navbar-container li {
  float: right;
}

#navbar-container li a {
  display: block;
  text-align: center;
  padding-right: 35px;
	text-decoration: none;
	font-size: 20px;
}

#navbar-container ul {
  list-style-type: none;
  margin: 0;
	padding: 0;
	overflow: hidden;
}

.navbar-container-left {
	float: left !important;
}

.page-format-margin {
  margin: 0 5% 0 5%;
  padding: 40px 0 70px 0;
}

.page-format-margin h2 {
  text-align: center;
  font-size: 20px;
  padding: 30px 0 10px 0;
  margin-bottom: 0;
}

.page-format-margin h3 {
  text-align: center;
  font-size: 50px;
  padding: 0 0 35px 0;
  margin-top: 0;
}

.section-grey {
  background-color: #f8f8f8;
}

#top-button {
  position: fixed;
  bottom: 3%;
  right: 3%;
  z-index: 100;
  font-size: 30px;
  background-color: grey;
  color: white;
  cursor: pointer;
  border-radius: 4px;
  padding-top: 5px;
  width: 40px;
  height: 35px;
  opacity: 0.9;
  border: none;
  text-align: center;
  display: none;
}

#top-button:hover {
  background-color: black;
}
