/* page formatting */
body, html {
	height: 100%;
	margin: 0;
	padding: 0;

}

body {
  cursor: url("../../images/submarine32px.png") 48 48, auto;
}

#top-button {
  position: fixed;
  bottom: 3%;
  right: 3%;
  z-index: 100;
  font-size: 2rem;
  background-color: grey;
  color: white;
  cursor: pointer;
  border-radius: .3rem;
  padding-top: .3rem;
  width: 2.5rem;
  height: 2rem;
  opacity: 0.9;
  border: none;
  text-align: center;
  display: none;
}

#top-button:hover {
  background-color: black;
}

.page-format-margin {
  margin: 0 5% 0 5%;
  padding: 2rem 0 3rem 0;
}

.page-format-margin h2 {
  text-align: center;
  font-size: 1.2rem;
  padding: 2rem 0 .5rem 0;
  margin-bottom: 0;
}

.page-format-margin h3 {
  text-align: center;
  font-size: 3rem;
  padding: 0 0 1.5rem 0;
  margin-top: 0;
}

.section-grey {
  background-color: #f8f8f8;
}


/* navigation bar */
#navbar-container {
	background-color: black;
	padding: 2rem 3rem 2rem 3.5rem;
	position: fixed;
	left: 0;
  right: 0;
  z-index: 100;
  transition: background-color 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
  box-shadow: none;
}

.navbar-container-items {
  color: white;
  transition: color 0.2s ease-in-out;
}

.navbar-container-items:hover {
  color: #0782ac !important;
}

#navbar-container li {
  float: left;
}

#navbar-container li a {
  display: block;
  text-align: center;
  margin-right: 3rem;
	text-decoration: none;
	font-size: 1.2rem;
}

#navbar-container ul {
  list-style-type: none;
  margin: 0;
	padding: 0;
  overflow: hidden;
  float: right;
}

.navbar-container-left {
	float: left !important;
}

/* navigation bar for smaller resolutions */
.hamburger-menu {
  position: absolute;
  top: 1.5rem;
  right: 3.2rem;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 1.5rem;
  height: 1.2rem;
}

.hamburger-menu .hamburger-menu-bar {
  height: .17rem;
  width: 100%;
  background-color: white;
  border-radius: .1rem;
}

@media (max-width: 800px) {
  .hamburger-menu {
    display: flex;
  }

  .toggle-navbar-display {
    display: none;
  }

  #navbar-container ul, #navbar-container li {
    width: 100%;
    flex-direction: column;
  }

  #navbar-container li a {
    padding: .2rem;
    margin-left: 1.5rem;
  }

  .toggle-navbar-display.active {
    display: flex;
  }
}

/* landing page */
.landing-page-container {
	width: 100%;
	height: 100%;
	background-image: url("../../images/landing_page.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.landing-page-container-display {
  position: absolute;
  width: 50%;
  height: 45%;
  top: 15rem;
  left: 7rem;
}

h1, h2 {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  font-variation-settings: "wdth" 100;
  color: white;
  font-size: 5em;
}

.landing-page-container-display h2 {
  font-size: 2em;
}

/* about page */
.about-description {
  word-wrap: break-word;
  font-size: 1rem;
}

.about-page-container {
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: 50% 50%;
}
