body, html {
	height: 100%;
	margin: 0;
	padding: 0;
}

.landing-page-container {
	width: 100%;
	height: 100%;
	background-image: url("../../images/landing_page.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.landing-page-container-display {
  position: absolute;
  width: 400px;
  height: 260px;
  border-radius: 4px;
  background-color: grey;
  opacity: 0.5;
  top: 110px;
  left: 160px;
}

#navbar-container {
	background-color: transparent;
	padding: 10px 10px 10px 10px;
	position: fixed;
	left: 0;
  right: 0;
  z-index: 100;
  transition: background-color 0.2s ease-in-out;
  border-bottom: none;
}

.navbar-container-li {
  color: white;
  transition: color 0.2s ease-in-out;
}

#navbar-container li {
  float: right;
}

#navbar-container li a {
  display: block;
  text-align: center;
  padding: 14px 16px;
	text-decoration: none;
	font-size: 19px;
}

#navbar-container ul {
  list-style-type: none;
  margin: 0;
	padding: 0;
	overflow: hidden;
}

.navbar-container-left {
	float: left !important;
}

.page-format-margin {
  margin-left: 5%;
  margin-right: 5%;
}

.page-wrapper h2 {
  margin: 100px 0 100px 0;
  text-align: center;
}

.section-grey {
  background-color: grey;
}

#top-button {
  position: fixed;
  bottom: 3%;
  right: 3%;
  z-index: 100;
  font-size: 30px;
  background-color: grey;
  color: white;
  cursor: pointer;
  border-radius: 4px;
  padding-top: 5px;
  width: 40px;
  height: 35px;
  opacity: 0.9;
  border: none;
  text-align: center;
  display: none;
}

#top-button:hover {
  background-color: black;
}
