.sunlight-zone {
    background: linear-gradient(#ADD8E6, #00008B);
  }
  
  .twilight-zone {
    background: linear-gradient(#00008B, #000080);
  }
  
  .midnight-zone {
    background: linear-gradient(#000080, #00008B);
  }
  
  .abyss-zone {
    background: linear-gradient(#00008B, #000080);
  }
  
  .trenches-zone {
    background: linear-gradient(#000080, #000000);
  }