.sunlight-zone {
  background: linear-gradient(#add8e6, #00008b);
}

.twilight-zone {
  background: linear-gradient(#00008b, #000080);
}

.midnight-zone {
  background: linear-gradient(#000080, #00008b);
}

.abyss-zone {
  background: linear-gradient(#00008b, #000080);
}

.trenches-zone {
  background: linear-gradient(#000080, #000000);
}
